
language: python
python:
  - "3.6"

services:
  - docker

before_script: 
  - pip install docker-compose

script:
  - docker-compose run user sh -c "python manage.py test && flake8"
  - docker-compose run web sh -c "npm test --forceExit"
