
language: python
python:
  - "3.6"

services:
  - docker

before_script: 
  - pip install docker-compose

script:
  - docker-compose build api
  - docker-compose run api sh -c "python manage.py test && flake8"
  - docker-compose run react sh -c "yarn test"
  
