version: "3.7"

services: 
  

  api:
    build: 
      context: ./backend/django-user-api/
    container_name: api    
    environment: 
      - DB_HOST=$DB_HOST
      - DB_NAME=$DB_NAME
      - DB_USER=$DB_USER
      - DB_PASS=$DB_PASS
    volumes: 
      - ./backend/django-user-api/app:/django-user-api
    command: >
      sh -c "python manage.py wait_for_db && 
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    ports: 
      - $USER_PORT:8000
    networks: 
      - backend
    depends_on: 
      - postgres
      - redis

  postgres:
    image: postgres
    environment: 
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    volumes: 
      - postgres:/var/lib/postgresql/data
      - ./backend/postgres/service:/docker-entrypoint-initdb.d
    networks: 
      - backend

  redis:
    image: redis
    volumes:
      - redis:/data

  minio:
    image: minio/minio
    container_name: minio
    environment:
      - MINIO_ACCESS_KEY=minio
      - MINIO_SECRET_KEY=supersecretpassword
    volumes:
     - minio:/data
    ports:
        - 9000:9000
    networks: 
      - backend
    command: server /data

  react:
    build: 
      context: ./frontend/react-landing-page
      dockerfile: Dockerfile.dev
    container_name: react
    environment: 
      - CI=true   
    volumes: 
      - /react-landing-page/node_modules
      - ./frontend/react-landing-page:/react-landing-page
    ports: 
      - 3000:3000
    
  jupyter:
    build: 
      context: ./jupyter-lab
    container_name: jupyter
    volumes: 
      - ./jupyter-lab/:/jupyter-lab
    ports: 
      - "8888:8888"
    networks: 
      - lab
    depends_on: 
      - postgres
      - minio
      
  
  airflow:
    image: puckel/docker-airflow
    container_name: airflow
    environment: 
      - LOAD_EX=n
      - EXECUTOR=Local
    ports:
      - 8081:8080
    networks: 
      - backend
    depends_on:
      - postgres
    command: webserver


networks:
  frontend:
  backend:
  lab:
volumes:
  postgres:
  minio:
  redis:



  
